absl-py==2.1.0
asgiref==3.8.1
attrs==23.2.0
audioread==3.0.1
av==12.0.0
bidict==0.23.1
blinker==1.7.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.29.2
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
Django==5.0.4
django-crispy-forms==2.1
djitellopy==2.5.0
dlib==19.24.4
facenet-pytorch==2.5.3
filelock==3.13.4
Flask==3.0.3
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
fonttools==4.51.0
fsspec==2024.3.1
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
jax==0.4.26
jaxlib==0.4.26
Jinja2==3.1.3
joblib==1.4.0
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.1
llvmlite==0.42.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mediapipe==0.10.11
ml-dtypes==0.4.0
mpmath==1.3.0
msgpack==1.0.8
networkx==3.3
numba==0.59.1
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
packaging==24.0
pillow==10.3.0
platformdirs==4.2.0
pooch==1.8.1
protobuf==3.20.3
pvrecorder==1.2.2
pycparser==2.22
pygame==2.5.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-socketio==5.11.2
pytz==2024.1
requests==2.31.0
scikit-learn==1.4.2
scipy==1.13.0
simple-websocket==1.0.0
six==1.16.0
sounddevice==0.4.6
soundfile==0.12.1
soxr==0.3.7
SpeechRecognition==3.10.3
sqlparse==0.5.0
sympy==1.12
threadpoolctl==3.4.0
tk==0.1.0
torch==2.2.2
torchvision==0.17.2
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.0.2
wsproto==1.2.0
