body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, black 75%, silver 100%);
  }
  
  .webcam-container {
    width: 50%; /* Webcam takes half of the screen width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers the webcam vertically in the container */
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  